<ion-header>
  <ion-toolbar>
    <ion-title> Cadastro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let cadastro of listaCadastro | async">
        <ion-label> <b> Nome: {{ cadastro.nome }}</b> <br> Grau de Parentesco: {{ cadastro.grau }} <br />
          <b> RG: {{ cadastro.rg }}</b> <br> CPF: {{ cadastro.cpf }} <br />
          <b> Aluno: {{ cadastro.aluno }}</b> <br> Curso: {{ cadastro.curso }} <br />
          <b> Motivo: {{ cadastro.motivo }} </b> <br> Quem Buscará: {{ cadastro.busca }}<br />
          <b> Parentesco: {{ cadastro.parentesco }} </b> <br> Data: {{ cadastro.data }}<br />
          <b> Horário: {{ cadastro.horario }} </b></ion-label>
        <ion-button (click)="excluir(cadastro)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button expand=full href='pagina' shape='round'> Voltar para tela inicial </ion-button>
  <ion-button expand=full href='pagina' shape='round'> Ciente </ion-button>
</ion-content>
